[user]
  name = Lennard Eijsackers
  email = lennardeijsackers92@gmail.com

[github]
  user = Blokje5

[core]
  excludesfile = ~/.gitignore_global
  editor = vim

[alias]
  ad = add .
  amend = commit --amend --no-edit
  br = branch
  branchname = rev-parse --abbrev-ref HEAD
  ci = commit
  gbr="!f() { git branch | grep -v "master" | xargs git branch -D; }; f"
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)-%an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  p = push
  pf = push --force
  pb = "!f() { git push -u origin $1; }; f"
  pu = "!git pb $(git branchname)"
  st = status
  unstage = reset --hard HEAD

[credential]
  helper = osxkeychain